.form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 80px 50px;
}

.form h2 {
  font-family: "Prata";
}

.form form {
  flex: 1;
  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 36px 64px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}
