.personagem {
  width: 200px;
  margin-top: 15px;
}

.personagem .cabecalho {
  border-radius: 10px 10px 0 0;
}

.personagem img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  bottom: -50px;
}

.personagem .rodape {
  background: #ffffff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0 0 10px 10px;
  padding-top: 50px;
  padding-bottom: 10px;
}

.personagem .rodape h4 {
  color: #6278f7;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.personagem .rodape h5 {
  font-size: 18px;
  color: #212121;
  padding: 0 16px;
}
